<mat-toolbar color="primary" class="mat-elevation-z6">
  <a mat-button routerLink="/" class="app-button">
    <mat-icon>bookmark_border</mat-icon>
    <span>jbNote</span>
  </a>

  <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>

  <button mat-icon-button routerLink="/install" *ngIf="syncEnabled && syncConfigured && !syncError" matTooltip="Sync enabled">
    <mat-icon>sync</mat-icon>
  </button>

  <button mat-icon-button routerLink="/install" *ngIf="syncEnabled && !(syncConfigured || syncError)" matTooltip="Sync error">
    <mat-icon>sync_problem</mat-icon> Sync error
  </button>

  <button mat-icon-button routerLink="/install" *ngIf="!syncEnabled" matTooltip="Sync disabled">
    <mat-icon>sync_disabled</mat-icon>
  </button>

  <a mat-button [routerLink]="['notes', 'new']">New note</a>
</mat-toolbar>
