<mat-toolbar color="primary" class="mat-elevation-z6">
  <a mat-button routerLink="/" class="app-button">
    <mat-icon>bookmark_border</mat-icon>
    <span>jbNote</span>
  </a>

  <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>

  <button mat-icon-button routerLink="/install" *ngIf="syncEnabled && syncConfigured">
    <mat-icon>sync</mat-icon> Sync configuration error
  </button>

  <button mat-icon-button routerLink="/install/step2-config-sync" *ngIf="syncEnabled && !syncConfigured">
    <mat-icon>sync_problem</mat-icon> Sync configuration error
  </button>

  <button mat-icon-button routerLink="/install" *ngIf="!syncEnabled">
    <mat-icon>sync_disabled</mat-icon>
  </button>
</mat-toolbar>
