<p>
  note-list works!
</p>

<a [routerLink]="['new']">New note</a>

<div>
  <input type="search" #searchBox id="search-box" (keyup)="search($event, searchBox.value)" />
  <button type="button" (click)="search({keyCode: 13}, searchBox.value)">Search</button>
</div>
<div *ngFor="let note of notes">
  {{note|json}}
  <a [routerLink]="[note.id, 'edit']">Edit</a>
  <a [routerLink]="[note.id]">View</a>
  <a (click)="deleteNote(note)">Delete</a>
</div>
<div *ngIf="!notes?.length">
  no note found
</div>
