<mat-card>
  <form [formGroup]="searchForm" (submit)="search({keyCode: 13}, searchBox.value)">
    <mat-form-field>
      <input type="search" id="search-box" matInput #searchBox (input)="search($event, searchBox.value)" placeholder="Search" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
</mat-card>

<div class="list-wrapper">

  <a mat-raised-button color="primary" [routerLink]="['new']">New</a>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let note of notes; let panelIndex = index" [expanded]="selectedIndex === panelIndex" (opened)="setIndex(panelIndex)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ note.title }}
        </mat-panel-title>
        <mat-panel-description>
          {{ note.updatedAt|date:'medium' }}
        </mat-panel-description>
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [disabled]="selectedIndex === panelIndex" (click)="setIndex(panelIndex)">
            <mat-icon>subject</mat-icon>
            <span>View</span>
          </button>
          <button mat-menu-item [routerLink]="[note.id, 'edit']">
            <mat-icon>create</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteNote(note)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-expansion-panel-header>

      <markdown-to-html [data]="note.body"></markdown-to-html>
    </mat-expansion-panel>
  </mat-accordion>

  <div *ngIf="!notes?.length">
    <p>No note found</p>
  </div>
</div>


