<mat-vertical-stepper>
  <mat-step label="Go to the Firebase console" completed="false">
    <p>Go to <a href="https://console.firebase.google.com" target="_blank">https://console.firebase.google.com</a> and click on <strong>Add project</strong></p>
    <img src="../../../assets/install/step1-go-to-console.png" appZoomImage class="responsive-img" />
  </mat-step>
  <mat-step label="Create a Firebase project" completed="false">
    <p>Give a <strong>name</strong> to your project and select a <strong>country/region</strong> then click on the <strong>create project</strong> button</p>
    <img src="../../../assets/install/step2-add-project.png" appZoomImage class="responsive-img" />
    <small>Note that the project in these screenshots has been deleted since then so all keys and credentials don't exist anymore.</small>
  </mat-step>
  <mat-step label="Initialize the database" completed="false">
    <p>Click on the <strong>Database</strong> entry in the left menu to initialize the default realtime database.</p>
    <img src="../../../assets/install/step3-init-db.png" appZoomImage class="responsive-img" />
    <p>Then go back to <strong>Overview</strong> and click on <strong>Add Firebase to your web app</strong>.</p>
  </mat-step>
  <mat-step label="Configure the web app" completed="false">
    <p>Configure the <em>jbnote app</em> with the different items in the popup : <strong>apiKey</strong>, <strong>authDomain</strong>, <strong>databaseURL</strong>, <strong>projectId</strong> and <strong>storageBucket</strong></p>
    <img src="../../../assets/install/step4-configure-webapp.png" appZoomImage class="responsive-img" />
  </mat-step>
  <mat-step label="Disable auth" completed="false" optional="true">
    <p>
      Click on the <strong>Database</strong> entry in the left menu then click on the <strong>Rules</strong> tab.
      Here you can configure the security rules for your Firebase database. If you want to allow anonymous access, replace the default rules by :
    </p>
    <markdown-to-html>
      ```json
      {{ '{' }}
      "rules": {{ '{' }}
      ".read": true,
      ".write": true
      {{ '}' }}
      {{ '}' }}
      ```
    </markdown-to-html>
    <p>
      Then click on <strong>Publish</strong>.
      If you chose this solution, uncheck <strong>Enable Firebase user auth</strong> in the <em>jbnote app</em> config form and <strong>save</strong> your configuration.
      You are finished and you will be redirected to the note app. If you want to enable auth, continue this help to the next step.
    </p>
  </mat-step>
  <mat-step label="Enable Email/Password sign-in" completed="false" optional="true">
    <p>
      Click on the <strong>Authentication</strong> entry in the left menu then click on the <strong>Set up sign-in method</strong> button.
      In the list of all available sign-in providers, click on the <strong>Email/Password</strong> line then enable this provider and click on <strong>Save</strong>
    </p>
    <img src="../../../assets/install/step6-enable-signin.png" appZoomImage class="responsive-img" />
    <small>Note that you can enable additional authorised domain on this page. Be sure to enable the <em>jbnote app</em> domain too</small>
  </mat-step>
  <mat-step label="Create an Email/Password user" completed="false" optional="true">
    <p>
      Go back to the <strong>Authentication</strong> page and click on the <strong>Add user</strong> button.
      Set an <strong>Email</strong> and a <strong>Password</strong> for your user and create on <strong>Add user</strong>.
    </p>
    <img src="../../../assets/install/step7-create-user.png" appZoomImage class="responsive-img" />
    <p>
      In the <em>jbnote app</em>, check the <strong>Enable Firebase user auth</strong> option and fill the <strong>Username</strong> and <strong>Password</strong> fields
      that appear with the credentials you have just created the <strong>Save</strong> the form.
    </p>
  </mat-step>
  <mat-step label="End" completed="false">
    <p>
      When you save the configuration form, you are redirected to the part of the app that manage the note. You can come back to this install section anytime you want
      by clicking on the sync icon on the top right corner of the app.
    </p>
  </mat-step>
</mat-vertical-stepper>
