<div class="content-wrapper">

  <mat-tab-group (selectedTabChange)="onSelectedTabChange()">

    <!-- edit tab -->
    <mat-tab label="{{ noteForm.value.id ? 'Edit' : 'New' }}">
      <mat-card>
        <form [formGroup]="noteForm" (ngSubmit)="onSubmit()" novalidate class="app-form">
          <!-- title field -->
          <mat-form-field>
            <input matInput placeholder="title" [formControl]="title">
            <mat-error *ngIf="title.hasError('required')">
              title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- /title field -->

          <!-- body field -->
          <mat-form-field>
            <textarea #bodyField autosize matInput placeholder="body" [formControl]="body"></textarea>
            <mat-hint>This field supports markdown with code snippets</mat-hint>
            <mat-error *ngIf="body.hasError('required')">
              Body is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- /body field -->

          <button mat-raised-button color="primary" type="submit" [disabled]="!noteForm.valid" class="btn btn-success">
            Save
          </button>
        </form>
      </mat-card>
    </mat-tab>
    <!-- /edit tab -->

    <!-- preview tab -->
    <mat-tab label="Preview">
      <mat-expansion-panel [expanded]="true" [hideToggle]="true">
        <mat-expansion-panel-header style="height: 64px;">
          <mat-panel-title>
            {{ title.value }}
          </mat-panel-title>
          <mat-panel-description>
            {{ now|date:'medium' }}
          </mat-panel-description>
          <button mat-icon-button disabled>
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-expansion-panel-header>

        <markdown-to-html [data]="body.value"></markdown-to-html>
      </mat-expansion-panel>
    </mat-tab>
    <!-- /preview tab -->

  </mat-tab-group>

  <a mat-button [routerLink]="['/notes']">
    <mat-icon>keyboard_arrow_left</mat-icon> Back
  </a>
</div>




