<div class="page-header">
  <h1>Installation</h1>
</div>

<mat-sidenav-container>
  <!-- sidenav displaying tutorial to configure sync available in step2 of the config stepper -->
  <mat-sidenav #sidenav mode="over" position="end">
    <app-config-tutorial></app-config-tutorial>
  </mat-sidenav>
  <!-- /sidenav -->

  <!-- stepper -->
  <mat-horizontal-stepper linear="true" #stepper>
    <!-- activate step -->
    <mat-step label="Activate" [stepControl]="enableSyncFormControl">
      <mat-card>
        <app-enable-sync (syncStatus)="onSyncStatusChange($event)"></app-enable-sync>
      </mat-card>
    </mat-step>
    <!-- /activate step -->

    <!-- configure step -->
    <mat-step label="Configure" [stepControl]="configSyncFormControl">
      <mat-card>
        <app-config-sync (submit)="onConfigSubmit()" (cancel)="onConfigCancel()"></app-config-sync>
      </mat-card>
    </mat-step>
    <!-- /configure step -->

    <!-- done step -->
    <mat-step label="Done">
      Synchronization configuration is finished. You are going to be redirected to the note app shortly ...
    </mat-step>
    <!-- /done step -->
  </mat-horizontal-stepper>
  <!-- /stepper -->
</mat-sidenav-container>

<button
  id="open-help"
  type="button"
  mat-fab color="warn"
  (click)="sidenav.toggle()"
  title="Open sidebar help window describing how to get firebase settings"
  *ngIf="stepper.selectedIndex === 1">
  <mat-icon class="md-24" aria-label="Help icon">help</mat-icon>
</button>
