<div class="page-header">
  <h1>Installation</h1>
</div>

<md-horizontal-stepper linear="true" #stepper>
  <md-step #stepEnableSync label="Activate" [stepControl]="enableSyncFormControl">
    <p class="text-row">
      Do you want to enable sync between devices ?<br />
      <br />
      You will need a Google account with the Firebase service enabled (the free plan is good enough for this app).<br />
      <br />
      <small>(You can enable synchronization later)</small>
    </p>

    <div class="button-row">
      <button type="button" md-raised-button color="primary" (click)="enableSync()">Yes I want !</button>
      <button type="button" md-raised-button color="warn" (click)="disableSync()">No I don't want to</button>
    </div>
  </md-step>
  <md-step #stepConfigSync label="Configure" [stepControl]="configForm">
    <form [formGroup]="configForm" (ngSubmit)="onSubmit()" novalidate>
      <p>Form value: {{ configForm.value | json }}</p>
      <p>Form status: {{ configForm.status | json }}</p>

      <div class="form-group">
        <label class="center-block">apiKey:
          <input class="form-control" formControlName="apiKey">

          <div *ngIf="apiKey.invalid && (apiKey.dirty || apiKey.touched)" class="alert alert-danger">
            <div *ngIf="apiKey.errors.required">
              apiKey is required.
            </div>
            <div *ngIf="apiKey.errors.pattern">
              apiKey pattern error
            </div>
          </div>
        </label>
      </div>

      <div class="form-group">
        <label class="center-block">authDomain:
          <input class="form-control" formControlName="authDomain">
        </label>
      </div>

      <div class="form-group">
        <label class="center-block">databaseURL:
          <input class="form-control" formControlName="databaseURL">
        </label>
      </div>

      <div class="form-group">
        <label class="center-block">storageBucket:
          <input class="form-control" formControlName="storageBucket">
        </label>
      </div>

      <div class="checkbox">
        <label class="center-block">
          <input type="checkbox" formControlName="enableAuth">enable Auth
        </label>
      </div>

      <div class="form-group" *ngIf="enableAuth.value">
        <label class="center-block">username:
          <input class="form-control" formControlName="username">
        </label>
      </div>

      <div class="form-group" *ngIf="enableAuth.value">
        <label class="center-block">password:
          <input class="form-control" formControlName="password">
        </label>
      </div>

      <div style="margin-bottom: 1em">
        <button type="submit" [disabled]="!configForm.valid" class="btn btn-success">Save</button>
        <button type="reset" (click)="configForm.reset()" class="btn btn-danger">Revert</button>
        <button type="button" (click)="stepper.previous()">Back</button>
      </div>
    </form>
  </md-step>
  <md-step label="Done">
    Synchronization configuration is finished. You are going to be redirected to the note app shortly ...
  </md-step>
</md-horizontal-stepper>

